[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;inode/directory;
X-KDE-Protocols=file
Actions=SashimiPreview;

[Desktop Action SashimiPreview]
Name=Preview with Sashimi
Icon=utilities-file-archiver
Exec=kde-sashimi %U
